:root {
  --main-bg-color: #f7e7ce;
  --secondary-bg-color: #ffefd5;
  --primary-color: #ff4500;
  --secondary-color: #ffffff;
  --text-color: #333;
  --button-bg-color: #ff4500;
  --button-hover-color: #e03e00;
  --border-radius: 10px;
}
